# Global ignore rules for ISYE / CS coursework

# Ignore Python source code files in any subfolder
**/*.py

# Ignore data folders in any assignment
**/data/

# (Optional) Ignore Mac system files
.DS_Store
